<div class="header">
    <div class="headerlogo">Logo</div>
    <div class="navbar">
        <div class="nav1">
            <a href="/dashbord">Home</a>
            <a onclick="employeelist()">Employee List</a>
        </div>
        <div class="nav2">
            <a class="username" href="#"><%= admin.username %></a>
            <a class="logout" onclick="logout()">Logout</a>
        </div> 
    </div>
</div>